/** ================================================== **/
/** ================== Default View ================== **/
/** ================================================== **/
/** Footer Container CSS **/
#footer-container {
    position: relative;
    width: 80%;
    height: 35px;
    margin: 10px auto;
}


/** Footer Copyright CSS **/
.footer-copyright-header {
    display: block;
    margin: 0;

    font-size: 21px;
    line-height: 35px;
    text-align: center;
}

/** ================================================== **/
/** =============== <= Large Phone View ============== **/
/** ================================================== **/
@media only screen and (max-width: 425px) {
    /** Footer Container CSS **/
    #footer-container {
        width: 100%;
    }


    /** Footer Copyright CSS **/
    .footer-copyright-header {
        font-size: 5vw;
    }
}
