/** ================================================== **/
/** ================== Default View ================== **/
/** ================================================== **/
/** Track Project Icon CSS **/
.track-project-container .icon {
    padding-left: 10px;

    font-size: 50px;
}


/** Status Colors CSS **/
.pending {
    color: black;
}

.reviewing {
    color: orange;
}

.declined {
    color: red;
}

.accepted {
    color: limegreen;
}