/** ================================================== **/
/** ================== Default View ================== **/
/** ================================================== **/
/** Slide Buttons **/
.previous-project-btn, .next-project-btn {
    position: fixed;
    height: 40px;
    padding: 0;
    top: 45%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.previous-project-btn .icon, .next-project-btn .icon {
    transform: scale(1);

    color: black;
    font-size: 40px;
    line-height: 40px;

    transition: transform 0.2s;
}

.previous-project-btn:hover, .next-project-btn:hover {
    transform: scale(1.25);
}

.previous-project-btn {
    left: 5%;
    
}

.next-project-btn {
    right: 5%;
}