/** ================================================== **/
/** ================== Default View ================== **/
/** ================================================== **/
/** Default Element CSS **/
body {
  min-width: 280px;
  margin: auto 0;
  background-color: white;

  font-family: 'Chewy', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button, input, textarea, select {
  font-family: 'Chewy', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::placeholder, textarea::placeholder {
  color: black;
}

a {
  color: orange;
  text-decoration: none;
}

.disabled {
  color: gray;
}

.hidden {
  display: none;
}

h1 {
  color: black;
}

h2, h3, h4, h5, h6, p, li {
  color: black;
  word-wrap: break-word;
}

hr {
  border: 1px solid black;
}


/** Global Containers CSS **/
.important-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);

  width: 90%;
  max-width: 900px;

  text-align: center;
}


/** Global Texts CSS **/
.important-text {
  margin: auto auto 50px;

  font-size: 36px;
  color: black;
}

.page-header {
  margin: 0;

  text-align: center;
  font-size: 36px;
}

.page-info {
  margin: 0 0 10px;

  text-align: center;
  font-size: 25px;
}

.section-header {
  margin: 0;

  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.info {
  margin: 0 0 5px;

  font-size: 21px;
}

.big-info {
  margin: 0 0 5px;

  font-size: 25px;
}

.huge-info {
  margin: 0 0 5px;

  font-size: 30px;
}


/** Global Classes CSS **/
.tag {
  padding: 0 5px;
  background-color: limegreen;
  border: none;
  border-radius: 5px;

  font-size: 13px;
  text-shadow: white 1px 1px;
  color: black;
}

/** ================================================== **/
/** =============== <= Large Phone View ============== **/
/** ================================================== **/
@media only screen and (max-width: 502px) {
  /** Global Texts CSS **/
  .important-text {
    font-size: 9vw;
  }
  
  .page-header {  
    font-size: 9vw;
  }
  
  .page-info {
    font-size: 5.5vw;
  }
  
  .section-header {  
    font-size: 7vw;
  }
  
  .info {  
    font-size: 5vw;
  }
  
  .big-info {  
    font-size: 5.5vw;
  }
  
  .huge-info {  
    font-size: 7vw;
  }
}