.project-name-input, .project-short-desc-input, .project-desc-input, .project-tags-input, .project-difficulty-dropdown {
    width: 100%;
    padding-left: 10px;
    background-color: transparent;
    border: none;
    border-left: 3px solid gray;
    outline: none;
    box-sizing: border-box;

    color: whitesmoke;
}

.project-name-input:focus, .project-short-desc-input:focus, .project-desc-input:focus, .project-tags-input:focus, .project-difficulty-dropdown:focus {
    border-left: 3px solid lime;
}

.project-name-input {
    border-top: 3px solid lime;

    font-size: 40px;
}

.project-short-desc-input {
    margin-top: 25px;
    
    font-size: 30px;
}

.project-desc-input {
    min-height: 200px;
    margin-top: 25px;
    resize: vertical;

    font-size: 25px;
}

.project-tags-input {
    margin-top: 25px;

    font-size: 30px;
}

.project-difficulty-dropdown {
    margin-top: 25px;

    font-size: 30px;
}

.whitespace {
    width: 100%;
    height: 3px;
    margin-top: 25px;
    border-left: 3px solid gray;
}

#add-project-form .submit {
    width: 100%;
    height: 50px;
    margin: 25px 0 15px;
    background-color: transparent;
    border: 3px solid gray;
    outline: none;

    font-size: 25px;
    color: gray;
}

#add-project-form .submit:hover {
    border: 3px solid lime;
    color: lime;
}

.error-msg {
    width: 50%;
    padding: 5px;
    margin: auto;
    margin-bottom: 15px;
    border: 2px solid red;

    color: red;
    font-size: 20px;
    text-align: center;
}