/** ================================================== **/
/** ================== Default View ================== **/
/** ================================================== **/
/** Project Listing Button CSS **/
.project-listing-link {
    flex: 1;
    min-width: 200px;
    width: calc(25% - 10px);
    max-width: calc(25% - 10px);
    height: fit-content;
    background-color: #FFDD2A;
    padding: 0;
    margin: 5px;
    border: 3px solid transparent;
    border-top: 5px solid #dfba01;
    outline: none;
    cursor: pointer;

    text-decoration: none;

    transition: transform 0.1s;
}

.project-listing-link:hover {
    transform: scale(1.1);
    box-shadow: gray 1px 1px 10px;
}

.project-listing-link:active {
    transform: scale(1);
}


/** Project Listing Container CSS **/
.project-listing-container {
    padding: 10px 5px 2px;
    overflow: hidden;
}


/** Project Name CSS **/
.project-listing-container .project-name {
    margin: 0 0 5px;

    font-weight: bold;
    font-size: 20px;
    text-align: center;
}


/** Short Description CSS **/
.project-listing-container .project-short-desc {
    margin: 0 0 10px;

    font-style: italic;
    font-size: 16px;
    text-align: center;
}


/** Difficulty CSS **/
.project-listing-container .project-difficulty {
    height: 30px;
    margin: 0 0 18px;
    padding: 0;
    text-align: center;
}

.project-listing-container .project-difficulty li {
    display: inline-block;
    height: 30px;
    padding-right: 5px;
    list-style-type: none;
}

.project-listing-container .project-difficulty .difficulty-icon {
    display: inline-block;
    width: 30px;
}


/** Tags CSS **/
.project-listing-container .project-tags {
    padding: 0;
    margin: 0;

    text-align: center;
}

.project-listing-container .project-tags li {
    display: inline-block;
    margin: 0 5px 5px 0;

    vertical-align: middle;
}

/** ================================================== **/
/** ================= <= Tablet View ================= **/
/** ================================================== **/
@media only screen and (max-width: 768px) {
    /** Project Listing Button CSS **/
    .project-listing-link {
        width: 100%;
        max-width: unset;
    }
}

/** ================================================== **/
/** =============== <= Large Phone View ============== **/
/** ================================================== **/
@media only screen and (max-width: 502px) {
    /** Project Listing Button CSS **/
    .project-listing-link {
        min-width: 100%;
        max-width: unset;
        margin: 5px 0;
    }
}